.invest-range{

    > div {
        margin-top: 38px;
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
    }

    input[type="range"] {
        display: block;
        width: auto;
        -webkit-appearance: none;
        appearance: none;
        height: 8px;
        background: #ddd;
        border-radius: 5px;
        outline: none;
    }
    input[type="range"]::-moz-range-track {
        background: #ddd;
        border-radius: 5px;
    }

    input[type="range"]::-webkit-slider-runnable-track {
        height: 8px;
        background: linear-gradient(to right, #1b8072 0%, #1b8072 var(--value, 0%), #ddd var(--value, 0%), #ddd 100%);
        border-radius: 5px;
    }

    input[type="range"]::-webkit-slider-thumb {
        position: relative;
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        top: -6px;
        background: #1b8072;
        border-radius: 50%;
        cursor: pointer;
    }

    input[type="range"]::-moz-range-thumb {
        position: relative;
        width: 20px;
        height: 20px;
        top: -8px;
        background: #1b8072;
        border-radius: 50%;
        cursor: pointer;
        border: none;
    }

    .current-value{
        border-radius: 10px;
        background-color: #1b8072;
        padding: 5px;
    }
}